{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Nationality{% endblock %}

{% block body %}*
<div class="content-wrapper">
    <h1>Edit Nationality</h1>

    {{ include('admin/nationality/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nationality_index') }}" class="btn btn-info">Retour</a>

    {{ include('admin/nationality/_delete_form.html.twig') }}
</div>    
{% endblock %}
